.result {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  height: 60px;
}

.keyboard {
  position: relative;
  text-align: center;
  background: #E6E6E6;
  padding: 20px;
  border: 1px solid #ccc;
  width: 554px;
  left: 50%;
  margin-left: -277px;

  div {

  }
}


div.keyboard-button{
  display: inline-block;
  float: left;
  margin: 2px;
}

.keyboard-button button{
  text-transform: uppercase;


  &.btn-default {
    background: #222;
    color: #eee;
    border-color: #444;
  }

  &.btn-default[disabled] {
    background: #eee;
    color: #333;
  }

  &.btn-default:hover {
    background: #111;
    color: #eee;
  }

  &:nth-child(11), &:nth-child(20) {
    clear: left;
  }

  &:nth-child(11) {
    margin-left: 14px;
  }

  &:nth-child(20) {
    margin-left: 28px;
  }
}

.hangman {
  .puppet {
    font-size: 100px;
    height: 200px;
    text-align: center;

    small {
      font-size: 70%;
    }
  }

  .word {
    text-align: center;

    pre {
      font-size: 30px;
      text-transform: uppercase;
    }
  }
}

.use-strikes{
  color: #00F;
}

.hangman-picture{
  width:600px;
  height:600px;
  border: groove 1px blue;
}

.clear-float{
   clear: left;
}


.game-over{
  color: #F00;
}

.game-over-win{
  color: #080;
}

/*
body{background-color: red;
  font-size: 18pt;  }*/
